{% extends 'base.html.twig' %}
{% block title %}Mon Compte - Ecoride{% endblock %}

{# Le bloc stylesheets est délibérément vide ici, car le CSS doit être géré dans une feuille de style externe #}
{% block stylesheets %}
    {{ parent() }} {# Conserve les feuilles de style définies dans base.html.twig #}
    {# Assurez-vous que vos styles personnalisés (par exemple pour .vehicle-card-responsive-width, .btn-fit-content, .flag-icon, .required-asterisk) sont dans un fichier CSS externe lié dans base.html.twig #}
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row min-vh-100">
        
        <!-- Sidebar Profil -->
        <div class="col-md-2 bg-secondary text-dark p-4 rounded-start">
            <div class="text-center">
                {# Affichage de la photo de profil, ou une image par défaut si non définie #}
                <img src="{{ asset('uploads/photos/' ~ (utilisateur.photo ? utilisateur.photo : 'default.png')) }}" alt="Photo de profil" class="rounded-circle img-thumbnail mb-2 profile-picture">
                <h4 id="userPseudo">{{ utilisateur.pseudo }}</h4> {# Affichage du pseudo de l'utilisateur #}
                <p>
                    <span class="text-warning fs-5">★★★★☆</span><br>
                    <small>(4.3/5)</small><br>
                    <a href="#" class="text-dark text-decoration-underline">Voir les avis</a>
                </p>
            </div>
            
            <div class="d-flex align-items-center justify-content-center">
                <div class="d-flex align-items-center justify-content-center p-2 mb-1 rounded border border-primary bg-light bg-opacity-75 w-75">
                    <i class="bi bi-piggy-bank-fill fs-4 me-2 text-primary"></i>
                    <span class="fw-bold fs-5 text-dark">{{ utilisateur.credits }} crédits</span>
                </div>
            </div>

            <hr class="bg-white">

            <h6 class="text-center text-primary fw-bold">Informations personnelles</h6>
            <ul class="list-unstyled">
                <li><strong><i class="bi bi-person-fill"></i></strong> {{ utilisateur.prenom }} {{ utilisateur.nom }}</li>
                <li><strong><i class="bi bi-telephone-fill"></i></strong> {{ utilisateur.telephone }}</li>
                <li><strong><i class="bi bi-envelope-fill"></i></strong> {{ utilisateur.email }}</li>
                <li><strong><i class="bi bi-cake2-fill"></i></strong> {{ utilisateur.dateNaissance ? utilisateur.dateNaissance|date('d/m/Y') : 'N/A' }}</li>
            </ul>
        </div>

        <!-- Onglets -->
        <div class="col-md-10 bg-light p-4 rounded-end">
            <ul class="nav nav-tabs" id="accountTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="roles-tab" data-bs-toggle="tab" data-bs-target="#roles" type="button" role="tab">Rôles & Véhicules</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="trip-tab" data-bs-toggle="tab" data-bs-target="#trip" type="button" role="tab">Saisir un voyage</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button" role="tab">Historique</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="account-tab" data-bs-toggle="tab" data-bs-target="#account" type="button" role="tab">Informations personelles</button>
                </li>
            </ul>

            <div class="tab-content mt-3" id="accountTabsContent">

                <!-- Onglet Rôles & Véhicules -->
                <div class="tab-pane fade show active" id="roles" role="tabpanel">
                    <form id="profileForm">
                        <div class="card mb-3 p-3 shadow-sm rounded">
                            <h5 class="fw-semibold card-title mb-3"><i class="bi bi-person-fill fs-4 text-primary"></i> Rôle(s)</h5>

                            <div class="form-check form-switch mb-0 ms-3">
                                <input class="form-check-input" type="checkbox" id="rolePassenger" value="passenger" disabled>
                                <label class="form-check-label" for="rolePassenger">Passager</label>
                            </div>
                            <div class="form-check form-switch mb-1 ms-3">
                                <input class="form-check-input" type="checkbox" id="roleDriver" value="driver" disabled>
                                <label class="form-check-label" for="roleDriver">Chauffeur</label>
                            </div>

                            <div id="rolesMessageContainer"></div>

                            <button type="button" class="btn btn-success btn-sm d-inline-block btn-fit-content rounded-4 px-4" id="editRolesBtn">Modifier</button>
                        </div>

                        <div class="card mb-3 p-3 shadow-sm rounded">
                            <h5 class="mt-0 fw-semibold card-title mb-3"><i class="bi bi-heart-fill fs-5 text-primary"></i> Préférences</h5>

                            <div class="form-check ms-3 mb-0">
                                <input class="form-check-input" type="checkbox" id="prefSmoker">
                                <label class="form-check-label" for="prefSmoker">Fumeurs acceptés</label>
                            </div>
                            <div class="form-check ms-3 mb-0">
                                <input class="form-check-input" type="checkbox" id="prefAnimal">
                                <label class="form-check-label" for="prefAnimal">Animaux acceptés</label>
                            </div>

                            <div class="mt-1 ms-3 col-lg-4 p-0">
                                <label for="customPrefInput" class="form-label">Ajouter une préférence personnalisée</label>
                                <div class="input-group mb-2">
                                    <input type="text" id="customPrefInput" class="form-control mb-0" placeholder="Exemple : Musique forte" aria-label="Préférence personnalisée">
                                    <button class="btn btn-outline-primary" type="button" id="addCustomPrefBtn">Ajouter</button>
                                </div>
                                <div id="customPrefList" class="d-flex flex-wrap gap-2 mb-3">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-sm btn-success mt-1 d-inline-block btn-fit-content rounded-4 px-4" id="savePreferencesBtn">Enregistrer les préférences</button>
                            <div id="preferencesMessageContainer" class="mt-1"></div>
                        </div>
                    </form>

                    <div id="driverDetails" class="card p-3 shadow-sm rounded">
                        <h5 class="mt-0 fw-semibold card-title mb-3"><i class="bi bi-car-front-fill fs-5 text-primary"></i> Vos véhicules</h5>
                        <div id="vehicleMessageContainer" class="mt-3"></div>
                        <div id="vehiclesContainer" class="mb-3 ms-3 row">
                        </div>
                        <button type="button" class="btn btn-secondary btn-sm d-inline-block btn-fit-content rounded-4 px-4" id="addVehicleBtn">+ Ajouter un véhicule</button>

                        <!-- Formulaire d'ajout (masqué par défaut) -->
                        <div id="vehicleFormContainer" class="container mt-3 d-none">
                            <div class="row justify-content-center">
                                <div class="col-12 col-lg-4"> 
                                    <form id="vehicleForm">
                                        <div class="mb-3">
                                            <label for="plateInput" class="form-label">Pays & plaque d’immatriculation <span class="required-asterisk">*</span></label>
                                            <div class="input-group">
                                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="countryDropdownButton">
                                                    <img id="selectedFlag" src="https://flagcdn.com/w20/fr.png" alt="Drapeau du pays" class="flag-icon me-1">
                                                    <span id="selectedCountryCode" class="d-none">FR</span>
                                                </button>
                                                <ul class="dropdown-menu" id="countryDropdownMenu">
                                                    <li><a class="dropdown-item" href="#" data-country-code="FR" data-flag-src="https://flagcdn.com/w20/fr.png"><img src="https://flagcdn.com/w20/fr.png" alt="France" class="flag-icon me-2"></a></li>
                                                    <li><a class="dropdown-item" href="#" data-country-code="DE" data-flag-src="https://flagcdn.com/w20/de.png"><img src="https://flagcdn.com/w20/de.png" alt="Allemagne" class="flag-icon me-2"></a></li>
                                                    <li><a class="dropdown-item" href="#" data-country-code="BE" data-flag-src="https://flagcdn.com/w20/be.png"><img src="https://flagcdn.com/w20/be.png" alt="Belgique" class="flag-icon me-2"></a></li>
                                                    <li><a class="dropdown-item" href="#" data-country-code="LU" data-flag-src="https://flagcdn.com/w20/lu.png"><img src="https://flagcdn.com/w20/lu.png" alt="Luxembourg" class="flag-icon me-2"></a></li>
                                                    <li><a class="dropdown-item" href="#" data-country-code="CH" data-flag-src="https://flagcdn.com/w20/ch.png"><img src="https://flagcdn.com/w20/ch.png" alt="Suisse" class="flag-icon me-2"></a></li>
                                                    <li><a class="dropdown-item" href="#" data-country-code="IT" data-flag-src="https://flagcdn.com/w20/it.png"><img src="https://flagcdn.com/w20/it.png" alt="Italie" class="flag-icon me-2"></a></li>
                                                    <li><a class="dropdown-item" href="#" data-country-code="ES" data-flag-src="https://flagcdn.com/w20/es.png"><img src="https://flagcdn.com/w20/es.png" alt="Espagne" class="flag-icon me-2"></a></li>
                                                </ul>
                                                <input type="text" id="plateInput" class="form-control mb-0 rounded-end" required placeholder="Sélectionnez un pays pour le format">
                                                <input type="hidden" id="hiddenCountryCode" name="paysImmatriculation" value="FR">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="firstRegDate" class="form-label">Date de première immatriculation <span class="required-asterisk">*</span></label>
                                            <input type="date" id="firstRegDate" class="form-control" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="brandSelect" class="form-label">Marque <span class="required-asterisk">*</span></label>
                                            <select id="brandSelect" class="form-select" required>
                                                <option value="">Sélectionnez une marque</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="model" class="form-label">Modèle <span class="required-asterisk">*</span></label>
                                            <input type="text" id="model" class="form-control" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="color" class="form-label">Couleur <span class="required-asterisk">*</span></label>
                                            <select id="color" class="form-select" required>
                                                <option value="">Sélectionnez une couleur</option>
                                                <option value="black">Noir</option>
                                                <option value="white">Blanc</option>
                                                <option value="gray">Gris</option>
                                                <option value="silver">Argent</option>
                                                <option value="red">Rouge</option>
                                                <option value="blue">Bleu</option>
                                                <option value="green">Vert</option>
                                                <option value="yellow">Jaune</option>
                                                <option value="orange">Orange</option>
                                                <option value="brown">Marron</option>
                                                <option value="purple">Violet</option>
                                                <option value="gold">Or</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="seats" class="form-label">Nombre de places disponibles <span class="required-asterisk">*</span></label>
                                            <input type="number" id="seats" class="form-control" min="1" max="9" required>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Type de moteur <span class="required-asterisk">*</span></label><br>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="engineType" id="engineElectric" value="electric" required>
                                                <label class="form-check-label" for="engineElectric"><i class="bi bi-leaf-fill text-primary"></i> Électrique</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="engineType" id="engineHybrid" value="hybrid">
                                                <label class="form-check-label" for="engineHybrid"><i class="bi bi-leaf-fill text-primary"></i> Hybride</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="engineType" id="engineThermal" value="thermal">
                                                <label class="form-check-label" for="engineThermal">Thermique</label>
                                            </div>
                                        </div>
                                        <p class="form-text"><span class="required-asterisk">*</span> Champs obligatoires</p>
                                        <div class="d-flex gap-2 mb-3">
                                            <button type="submit" class="btn btn-primary btn-sm btn-fit-content rounded-4 px-4">Enregistrer le véhicule</button>
                                            <button type="button" class="btn btn-dark text-light btn-sm btn-fit-content rounded-4 px-4" id="cancelVehicleBtn">Annuler</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Onglet Saisir un voyage -->
                <div class="tab-pane fade" id="trip" role="tabpanel">
                    <div id="tripMessageContainer" class="mt-3"></div>
                    
                    <div class="card mb-3 p-3 shadow-sm rounded">
                        <h5 class="fw-semibold card-title mb-3"><i class="bi bi-pin-map-fill fs-5 text-primary"></i> Vos voyages</h5>
                        
                        {# Les covoiturages existants seront ajoutés ici par JavaScript #}
                        <div id="existingTripsContainer" class="mb-3">
                            <p id="noTripsMessage" class="text-muted">Aucun voyage créé pour le moment.</p>
                        </div>

                        <button type="button" class="btn btn-secondary btn-sm d-inline-block btn-fit-content rounded-4 px-4 mb-3" id="addTripButton">+ Saisir un nouveau voyage</button>
                    </div>

                    <!-- Formulaire de création de voyage (masqué par défaut) -->
                    <div id="tripFormContainer" class="card mt-3 p-3 shadow-sm rounded d-none">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-5"> {# Rendu plus étroit #}
                                <form id="tripForm">
                                    <h5 class="fw-semibold card-title mb-3"><i class="bi bi-pencil-square fs-5 text-primary"></i> Saisir un covoiturage</h5>
                                    
                                    <div class="mb-3">
                                        <label for="departureCity" class="form-label">Ville de départ <span class="required-asterisk">*</span></label>
                                        <select id="departureCity" class="form-select" required>
                                            <option value="">Sélectionnez une ville</option>
                                        </select>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="departureDate" class="form-label">Date de départ <span class="required-asterisk">*</span></label>
                                            <input type="date" id="departureDate" class="form-control mb-0" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="departureTime" class="form-label">Heure de départ <span class="required-asterisk">*</span></label>
                                            <input type="time" id="departureTime" class="form-control mb-0" required>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="arrivalCity" class="form-label">Ville d'arrivée <span class="required-asterisk">*</span></label>
                                        <select id="arrivalCity" class="form-select" required>
                                            <option value="">Sélectionnez une ville</option>
                                        </select>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="arrivalDate" class="form-label">Date d'arrivée <span class="required-asterisk">*</span></label>
                                            <input type="date" id="arrivalDate" class="form-control mb-0" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="arrivalTime" class="form-label">Heure d'arrivée <span class="required-asterisk">*</span></label>
                                            <input type="time" id="arrivalTime" class="form-control mb-0" required>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="tripPrice" class="form-label">Prix par passager (crédits) <span class="required-asterisk">*</span></label>
                                        <input type="number" id="tripPrice" class="form-control mb-0" min="1" required>
                                        <div class="form-text">2 crédits seront prélevés par la plateforme.</div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="tripVehicleSelect" class="form-label">Véhicule <span class="required-asterisk">*</span></label>
                                        <select id="tripVehicleSelect" class="form-select" required>
                                            <option value="">Sélectionnez un véhicule</option>
                                        </select>
                                        {# Le bouton "+ Ajouter un véhicule" est déjà dans l'onglet Rôles & Véhicules #}
                                    </div>

                                    <div class="d-flex align-items-center mb-3"> {# Utilisation de flexbox pour aligner l'interrupteur et l'input #}
                                        <div class="form-check form-switch me-3"> {# Ajout de marge à droite #}
                                            <input class="form-check-input mb-0" type="checkbox" role="switch" id="isAccompanied">
                                            <label class="form-check-label mb-0" for="isAccompanied">Je voyage avec des accompagnateurs</label>
                                        </div>

                                        <div id="companionsInputGroup" class="d-flex align-items-center gap-2 d-none">
                                            {# CHANGEMENT: Utilisation de span pour un meilleur alignement vertical #}
                                            <span class="form-label fw-bold mb-0">Nombre :</span> 
                                            <input type="number" id="numberOfCompanions" class="form-control mb-0 w-auto" min="0" value="0" style="max-width: 80px;"> {# Largeur auto et max-width #}
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="availableSeats" class="form-label">Places disponibles</label> {# CHANGEMENT DE LIBELLÉ #}
                                        <input type="number" id="availableSeats" class="form-control" readonly> {# AJOUT DE READONLY #}
                                    </div>
                                    <p class="form-text"><span class="required-asterisk">*</span> Champs obligatoires</p>
                                    <div class="d-flex gap-2 mb-3">
                                        <button type="submit" class="btn btn-primary btn-sm btn-fit-content rounded-4 px-4">Créer un voyage</button>
                                        <button type="button" class="btn btn-dark text-light btn-sm btn-fit-content rounded-4 px-4" id="cancelTripBtn">Annuler</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Onglet Historique -->
                <div class="tab-pane fade" id="history" role="tabpanel">
                    <div class="table-responsive">
                        <table class="table table-striped align-middle">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Trajet</th>
                                    <th>Statut</th>
                                    <th>Rôle</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="historyTableBody">
                                <!-- Dynamique -->
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

{# Passer les rôles, véhicules et préférences de l'utilisateur à JavaScript #}
<div id="user-data" style="display: none;">
    <span id="user-roles-data">{{ utilisateur.rolesCollection|map(role => role.libelle)|json_encode()|raw }}</span>
    <span id="user-vehicles-data">{{ utilisateur_voitures_json|raw }}</span>
    <span id="user-preferences-data">{{ utilisateur_preferences_json|raw }}</span>
</div>

{% endblock %}

{% block javascripts %}
    {# Inclure les scripts séparés #}
    <script src="{{ asset('js/roles_vehicles.js') }}" defer></script>
    <script src="{{ asset('js/add_carpool.js') }}" defer></script>
{% endblock %}
